<featured-section class="{{ _view.classes }}featured-section featured-section--object-id--{{ _view.object_id }}">

	{% if title.value %}
		<div class="featured-section__title">
			{{ title.value }}
		</div>
	{% endif %}


	{% if description.value %}
		<div class="featured-section__description">
			{{ description.value|raw }}
		</div>
	{% endif %}


	{% if link.value %}
		<a target="{{ link.target }}" class="featured-section__link" href="{{ link.value }}">
			{{ link.linkLabel|default(link.title) }}
		</a>
	{% endif %}


	{% if image.value %}
		<img class="featured-section__image" src="{{ image.value }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" decoding="{{ image.decoding }}" loading="{{ image.loading }}" srcset="{{ image.srcset }}" sizes="{{ image.sizes }}">
	{% endif %}

</featured-section>
